.NavLinkButton {
    background-color: #cacaca;
    color: black;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 60px;
  }
  
  .NavLinkButton:hover {
    cursor: pointer;
  }