.note {
    border: 2px solid gray;
    --note-height: 88px;
    color: #cacaca;
    height: var(--note-height);
    margin-bottom: 8px;
    max-width: 380px;
    padding: 8px 0 8px 8px;
    position: relative;
  }
  
  .delete-note:hover {
    background-color: #bd0909;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  .note-title {
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0;
    max-width: 80%;
    min-height: 24px;
  }
  .note-title a {
    color: black;
    display: block;
    text-decoration: none;
  }
  .note-title a:hover {
    color: #FFB72F;
  }
  
  .note-date {
    bottom: 8px;
    color: #a7a5a5;
    font-size: 14px;
    position: absolute;
  }